<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3730084814696864</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/7cb98c99gw1ei5ffkou4gj209q05ut8t.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/7cb98c99gw1ei5ffkou4gj209q05ut8t.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【荷兰造范佩西世界杯纪念币：印鱼跃冲顶动作】为了纪念荷兰队闯进了世界杯四强，荷兰皇家造币厂正在制造一款限量发行的范佩西世界杯纪念币，上边印有罗宾侠那个鱼跃冲顶的动作。在荷兰队与西班牙队的首轮小组赛中，范佩西的那记鱼跃冲顶犹如神来之笔。详情：http://t.cn/RveNmAL</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2092534937</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>雅昌拍卖收藏</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3730084735560524</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/aee193aejw1ei5ffbjmwfj20ia1hs458.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自皮皮时光机</string>
			<key>text</key>
			<string>【#中国星力量#惊现女版孙坚】一档由成龙加盟的大型明星养成真人秀节目宣传片上出现了众多明星脸，这位MM因为长得像当红小生孙坚，被网友惊呼神同步。#热门笑话榜# http://t.cn/zQvbHDI</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2934018990</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>掌上笑话</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2934018990/50/40052251952/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3730084735416465</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/bc4491b9jw1ei5ffbnugej20c708saak.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自OPPO_Find7</string>
			<key>text</key>
			<string>高中有次做早操，旁边同学做着做着突然痛苦地捂住肚子，老师见状连忙上去关切地问他怎么了，他眉头紧皱，咬着嘴唇道：“老师…我这肚子里………”老师急道:“到底怎么了！”“都是屎……”#热门笑话榜#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3158610361</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>笑话限量版</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/3158610361/50/5696740368/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3730084731222020</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/bab57b9bjw1ei5ffbjo9gj20a00a0dgb.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自TCL么么哒.</string>
			<key>text</key>
			<string>高中时班里一个男同学胳膊骨折了，问之原因，他答，玩球受伤了……后来才听别的同学说，学校门口来了个拉砖的驴车，他手贱，摸驴蛋蛋被踢折了胳膊，不过他说的也没错，的确是玩“球”受的伤……#热门笑话榜#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3132455835</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>全球知名博主</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3132455835/50/5698235219/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3730084731220820</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自vivo_Xplay</string>
			<key>text</key>
			<string>麻麻~~洗澡这事咱能再商量商量么。#热门萌茏榜#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3131878925</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>萌宠物天地</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/3131878925/50/5676471872/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3730084668428907</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>2</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>18</integer>
				<key>comments_count</key>
				<integer>51</integer>
				<key>created_at</key>
				<string>44分钟前</string>
				<key>idstr</key>
				<string>3730073603571561</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/005Gi2ABjw1ei5e5539pzj30k00zk0x8.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/005Gi2ABjw1ei5e59cvgpj30fk0hjgn6.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>293</integer>
				<key>source</key>
				<string>来自三星Galaxy Note II</string>
				<key>text</key>
				<string>山东地痞强奸初中女生受害人之一@哭泣的女孩鑫鑫 ，受到伤害后，在网上无助地哭诉了半年之久，现在关注可能晚了，但或许有点用。@大案 征求律师援助，@王万琼律师 愿意提供法律援助，姐愿意提供律师的差旅费支持。原帖被删，请速转另存</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>5205570133</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>正义女神-惊</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/5205570133/50/22879450623/0</string>
				</dict>
			</dict>
			<key>source</key>
			<string>来自三星Galaxy Note II</string>
			<key>text</key>
			<string>打招呼的官员也要严惩[怒] //@荷叶上的舞步:据说市里有人打招呼</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1701401324</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>徐昕</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1701401324/50/5689726115/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>idstr</key>
			<string>3730084625928358</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/820f43e8gw1ei5fdakmr0g206t0411ey.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/820f43e8gw1ei5fde9pj2g206t041wz8.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/820f43e8gw1ei5fdggk4gg206t0417mr.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/820f43e8gw1ei5fdjcvlug206t0414po.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>这是《肥瑞的疯狂日记》中的一个画面，最后的maybe for one thing....简直邪恶到有点看不懂。。。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2182038504</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>我的前任是极品</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/2182038504/50/40021396264/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084525102332</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自百度</string>
			<key>text</key>
			<string>《爸爸2》杨阳洋称“贝儿不漂亮” 杨威补刀被指情商低（图） - 影视娱乐 - 娱乐 - - 人人斑竹 http://t.cn/RveNQ8A</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1751017160</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>人人斑竹</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1751017160/50/1276742452/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084512668106</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>33</integer>
				<key>comments_count</key>
				<integer>1480</integer>
				<key>created_at</key>
				<string>昨天 14:05</string>
				<key>idstr</key>
				<string>3729699672947189</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/7d4061c6gw1ei4772kfsqj20z629qams.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>2888</integer>
				<key>source</key>
				<string>来自微博 weibo.com</string>
				<key>text</key>
				<string>严重的头发问题困扰着小黑马↓↓↓究竟使用哪一款100年黑瓶可以帮他们找回健康的头发？拯救黑马交给你啦！按数字序号为黑马分别挑选合适的黑瓶（如ACBD），转发微博并关注@100年润发素食营养 答对的粉丝就有机会获得50元话费（共10名）。#黑马炼成记#</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>2101371334</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>100年润发素食营养</string>
					<key>profile_image_url</key>
					<string>http://tp3.sinaimg.cn/2101371334/50/5634947816/1</string>
				</dict>
			</dict>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>感觉这个题目很适合我侄子来回答，他说ADCB，如果答对了，抽中我了，能先送他一部手机再充话费吗[偷笑]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2639013261</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>时尚潮人MUOUM</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2639013261/50/40047223115/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084483154253</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/6305a68djw1ei5f952qccj20c81wdgr1.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自热门微博</string>
			<key>text</key>
			<string>【14:00:00-14:59:59】热门微博热点尽在掌握，猛击链接看更多：http://t.cn/8FTEFDZ</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2257175873</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>热门微博</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2257175873/50/22866679303/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084475682009</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/6d5a32d5jw1ei5fe9ig9pg203k03k0sx.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>来自笑话学前班</string>
			<key>text</key>
			<string>没回家之前爸爸妈妈都说想我了。。。回来之后发现，他们不过是想骂我了。。。起床晚挨骂，看电视挨骂，玩手机挨骂，在家不出去挨骂，出去玩挨骂。。。[泪] #FIFA看点#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1834627797</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>笑话学前班</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1834627797/50/40021472229/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084475264703</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/7c3ca0c7jw1ei5fe9bbpbg20b40b4wlb.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自vivo_Xplay</string>
			<key>text</key>
			<string>前两个星期老婆说要去法国出差，问我要带什么礼物吗？我说你给我带个法国女孩吧！今天老婆回来了说；我已经尽力了，但是至于是男孩还是女孩，要等几个月才能知道！  </string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2084348103</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>我一讲你就笑</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2084348103/50/5698680036/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084475263801</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/bab5a367jw1ei5fe9616vj20c809674l.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自TCL么么哒.</string>
			<key>text</key>
			<string>同事相亲回来，他说对方他不喜欢，对方是处女座，我们都劝他不要太看重星座这种东西，人好才是最重要的，他默默无语，我们一个接一个的上去劝他，不能把星座作为择偶标准，他被我们说得忍不住了，说：“我还没幼稚到以星座取人好吗，她……她竟然喜欢吃五仁月饼！”我们竖起拇指：干得好！</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3132466023</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>笑话办</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3132466023/50/5696740053/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084475263658</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/baad21d1jw1ei5fe963o4j208c0843z0.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自OPPO_Find7</string>
			<key>text</key>
			<string>一小区十户人家九户都装了防盗门，只有一户没装，一天九户人家一起被窃，唯有没装防盗门的这户门上小偷写道：你放心我，我也放心你！#热门笑话榜#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3131908561</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>刺激你的大脑</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/3131908561/50/5694523069/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084471067567</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/6842fc81jw1ei5fe8l3aaj20c80zwq8b.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>2</integer>
			<key>source</key>
			<string>来自皮皮时光机</string>
			<key>text</key>
			<string>【红枣补血养颜粥】~~这是一款有补血功效的粥，用来做早餐也不错学着给老公做美食，@美食健康顾问 </string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1749220481</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>美食健康顾问</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1749220481/50/5613374658/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>idstr</key>
			<string>3730084361503103</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/7cb98c99gw1ei5fdqc0naj20fa0djdgq.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【“一厢情愿”的西方艺术品收藏】最近，有媒体采访了几十位专家，让他们给出一份“中国买家最喜欢购买的西方艺术家”名单，虽然几十份名单各有不同，但统计之后，毕加索和莫奈毫无疑问地被推到了收藏头牌的宝座。中国藏家热衷于知名度以及投资的回报程度。详情：http://t.cn/RveNTo9</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2092534937</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>雅昌拍卖收藏</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3730084303654087</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/77c0a2b8jw1ei5fdjhhdwj20fa0bfgmy.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自皮皮时光机</string>
			<key>text</key>
			<string>【杭州公交纵火案嫌犯追踪：独来独往曾几次到杭州看病】去年12月底前，嫌疑人包来旭在义乌某公寓楼短暂租过三个月，租金600元一个月。相比其他租客，租房不挑房间，张老板对他印象不错，只不多独来独往，不见有朋友来。＂租住在这里的时候，他去过几趟杭州，好像是去看病的＂。 http://t.cn/RveXZN3</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2009113272</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>浙江在线</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/2009113272/50/40021581303/1</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3730084278478405</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/642beb18jw1ei5fdf1dibj20ab07lweh.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>4</integer>
			<key>source</key>
			<string>来自三星Galaxy NOTE III</string>
			<key>text</key>
			<string>据说这是一门失传的手艺，如果你看懂了，说明你到了结婚年龄~~</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1680599832</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>搞笑大百科</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1680599832/50/40021338240/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3730084236355034</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>37</integer>
				<key>comments_count</key>
				<integer>135</integer>
				<key>created_at</key>
				<string>06-15 17:31</string>
				<key>idstr</key>
				<string>3721778759432969</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/67c4f755jw1ehexhwzn37j20c80f2dhv.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>579</integer>
				<key>source</key>
				<string>来自TCL么么哒.</string>
				<key>text</key>
				<string>【智商越高越感到恐惧】《暗夜恐惧》由8位艺术家、以黑白简约画风讲述了8个关于恐惧的故事。男孩来到沼泽地度过他的暑假，渐渐的他发现他周围的人们一个个消失了。 据说逻辑思维越强,，IQ越高的人，越能体会到其中恐惧！！！http://t.cn/zHhOz7k 【想看更多黑色幽默动漫，[给力] 就关注@地狱漫画册 】</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1740961621</string>
					<key>mbrank</key>
					<integer>4</integer>
					<key>mbtype</key>
					<integer>2</integer>
					<key>name</key>
					<string>地狱漫画册</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/1740961621/50/39999289976/1</string>
				</dict>
			</dict>
			<key>source</key>
			<string>来自皮皮时光机</string>
			<key>text</key>
			<string>终于发现一个另类漫画，插画的微薄了，每个漫画插画都让人震撼不已[给力]！</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2244250502</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>最最搞笑精选</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2244250502/50/5625405769/0</string>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>2分钟前</string>
			<key>idstr</key>
			<string>3730084219571280</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/baabd965jw1ei5fd7biy4j20c80yigpt.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>来自OPPO_Find7</string>
			<key>text</key>
			<string>它失去了两条后腿，依然可以很开心地在宠物游泳池深水区玩耍。它曾经是流浪狗，现在的主人领养了它，并定制了轮椅。幸福的狗坚强让我们我们更加坚信：以领养代替购买，爱心会让悲剧消逝。http://t.cn/zWpDClP#热门萌茏榜#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3131824485</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>精致宠物</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/3131824485/50/22856341216/1</string>
			</dict>
		</dict>
	</array>
	<key>total_number</key>
	<integer>1689</integer>
</dict>
</plist>
