<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://pic10.nipic.com/20101014/4768360_230901509000_2.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>123 , 234 , 345 , 456 , 567 , 678 , 789</string>
			<key>source</key>
			<string>来自今日头条</string>
			<key>text</key>
			<string>科比和乔丹是世界上最伟大的篮球运动员</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>可爱的小姑娘</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1分钟前</string>
			<key>pic_urls</key>
			<array/>
			<key>approving_count</key>
			<string>MJJ , MJ , 刘超 , 张新菊 , 刘凯 , 呵呵</string>
			<key>source</key>
			<string>来自微博 weibo.com</string>
			<key>text</key>
			<string>【荷兰造范佩西世界杯纪念币：印鱼跃冲顶动作】为了纪念荷兰队闯进了世界杯四强，荷兰皇家造币厂正在制造一款限量发行的范佩西世界杯纪念币，上边印有罗宾侠那个鱼跃冲顶的动作。在荷兰队与西班牙队的首轮小组赛中，范佩西的那记鱼跃冲顶犹如神来之笔。详情：http://t.cn/RveNmAL</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>那一夜呵呵哒</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>1小时前</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://pic10.nipic.com/20101014/4768360_230901509000_2.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://pic10.nipic.com/20101014/4768360_230901509000_2.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>123 , 234 , 345 , 456 , 567 , 678 , 789</string>
			<key>source</key>
			<string>来自QQ空间</string>
			<key>text</key>
			<string>马建杰马建杰马建杰马建杰马建杰的撒ui 阿斯顿不见了卡巴困死了道具啊啊商家大河片USD皮v 氨基酸的离开部分那是看见的办法看电视</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>小痞子</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>刚刚</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://pic10.nipic.com/20101014/4768360_230901509000_2.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>123 , 234 , 345 , 456 , 567 , 678 , 789</string>
			<key>source</key>
			<string>来自陌陌</string>
			<key>text</key>
			<string>集聊天和约炮于一体的射交软件</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>大妈今年18岁</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>昨天下午2点</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://pic10.nipic.com/20101014/4768360_230901509000_2.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>马建杰</string>
			<key>source</key>
			<string>来自探探</string>
			<key>text</key>
			<string>我很丑但是我很温柔</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>雅昌拍卖收藏</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>去年十月份</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>黄渤 , 黄晓明 , 赵薇 , 黄渤 , 黄晓明 , 赵薇 , 黄渤 , 黄晓明 , 赵薇 , 黄渤 , 黄晓明 , 赵薇 , 黄渤 , 黄晓明 , 赵薇 , 黄渤 , 黄晓明 , 赵薇</string>
			<key>source</key>
			<string>来自腾讯微博</string>
			<key>text</key>
			<string>阿里巴巴将在年底全资收购新浪微博!</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>Jack Ma</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>去年十月份</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string></string>
			<key>source</key>
			<string>来自腾讯微博</string>
			<key>text</key>
			<string>阿里巴巴将在年底全资收购新浪微博!</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>Jack Ma</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>去年十月份</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>马兰兰 , 史小亚 , 朱林全</string>
			<key>source</key>
			<string>来自腾讯微博</string>
			<key>text</key>
			<string>阿里巴巴将在年底全资收购新浪微博!</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>Jack Ma</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>去年十月份</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string></string>
			<key>source</key>
			<string>来自腾讯微博</string>
			<key>text</key>
			<string>阿里巴巴将在年底全资收购新浪微博!</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>Jack Ma</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>去年十月份</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>马建杰</string>
			<key>source</key>
			<string>来自腾讯微博</string>
			<key>text</key>
			<string>阿里巴巴将在年底全资收购新浪微博!</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>Jack Ma</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<real>0</real>
			<key>created_at</key>
			<string>去年十月份</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>MJJ , MJ , 申奥</string>
			<key>source</key>
			<string>来自腾讯微博</string>
			<key>text</key>
			<string>阿里巴巴将在年底全资收购新浪微博!</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>Jack Ma</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
		<dict>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>去年十月份</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://p2.qhimg.com/t016127e19e5d7b3594.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://images.china.cn/news/attachement/jpg/site3/20120419/1739031617054359369.jpg</string>
				</dict>
			</array>
			<key>approving_count</key>
			<string>宋总 , 张晓丹 , 赵纪阳 , 马建杰</string>
			<key>source</key>
			<string>来自腾讯微博</string>
			<key>text</key>
			<string>阿里巴巴将在年底全资收购新浪微博!</string>
			<key>user</key>
			<dict>
				<key>name</key>
				<string>Jack Ma</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
			</dict>
		</dict>
	</array>
	<key>total_number</key>
	<integer>1689</integer>
</dict>
</plist>
